
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(44, 42, 42) , rgb(86, 100, 96));
    height: 100vh;
    width: 100%;
}

header {
    position: relative;
    margin:2% 0 0 5% ;
    width: 90%;
    height: 100px;
    background-color: rgba(202, 197, 197, 0.5);
    border-radius: 20px;

}

.header {
    width: 80%;
    padding-left:8% ;
    padding-top: 15px;  
}

.img {
    width: 70px;
    border-radius: 50%;    
}

.but {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: larger;
    top: 45%;
    left: 70%;
}

nav {
    position: absolute;
    left: 70%;
    width: 90px;

    background: #000;
    border-radius: 20px;
    padding-left:20px ;

}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
    text-decoration: none;


}
ul a {
   text-decoration: none;
   color: silver;
   text-transform: capitalize;
   transition: 0.7s;
}
ul li a:hover {
    color: rosybrown;
}

.body {
    position:absolute ;
    top: 140px;
    left: 5%;
    width: 90%;
    background-color: rgba(202, 197, 197, 0.5);
    border-radius: 20px;
    height: 80vh;
}

footer {
    position:relative;
    padding: 0;
    top: 90%;
    width: 100%;
    height: 200px;
    background: #858585;
    border: black 2px solid;
}

@media screen and (max-width :767px){


}


